:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;

  --cyan-500: #61dafb;
  --yellow-500: #eba417;
  --blue-800: #0c2977;
  --blue-700: #1b73f9;
  --orange-800: #fd8413;

  --sky-50: #e8f1fe;
}

/* @media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
} */

body {
  /* background: var(--sky-50); */
  color: var(--white);
  /* display: flex; */
  /* background-color: #e5e5f7; */

  background-color: #e5e5f7;
  /* opacity: 0.8; */
  background-image: radial-gradient(#444cf7 1.6px, transparent 1.6px),
    radial-gradient(#444cf7 1.6px, #e5e5f7 1.6px);
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
}

.headline {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 1em;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.text {
  color: var(--blue-800);
}
.title {
  color: var(--gray-800);
}

.blue-button {
  padding: 0.5em 1em;
  background-color: var(--blue-700);
  border-radius: 5px;
  color: var(--white);
  font-weight: bold;
}

.orange-button {
  padding: 0.5em 1em;
  background-color: var(--orange-800);
  border-radius: 5px;
  color: var(--white);
  font-weight: bold;
}

.mx-10 {
  margin: 0px 1rem;
}

.my-10 {
  margin: 2rem 0px;
}

.rounded {
  border-radius: 5px;
}

nav {
  width: 100vw;
  padding: 1em;
  background-color: var(--blue-700);
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 400px;
  align-items: center;
  justify-content: space-between;
  /* background-color: white; */
}

.nav-menus {
  display: flex;
  flex-direction: row;
}

.nav-login {
  display: flex;
  flex-direction: row;
}

main {
  padding: 0px 400px;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 3rem 5rem;
  margin-top: 4em;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  justify-content: space-between;
}

.side-content {
  display: flex;
  flex: 2;
  background-color: var(--white);
  padding: 4em 10px;
  height: 6rem;
  margin-left: 1rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 4em 10px;
  /* margin-top: 30px; */
  flex: 3;
}

.shaddow {
  /* box-shadow: 0px 10px 77px -19px #1b73f9; */
  box-shadow: 0px 10px 77px -19px rgba(0, 0, 0, 0.1);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 0.1px solid var(--gray-300);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.gradient {
  background-color: #8360c3; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 3rem;
}

.card-inner-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 1rem;
  height: 6rem;
}

.card-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
}

.ham {
  display: none;
  cursor: pointer;
}

#horizontal-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-800);
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
}

.horizontal-menu-text {
  font-size: 2rem;
  font-weight: bold;
}

#close-icon {
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--orange-800);
}

.hidden {
  display: none;
  visibility: hidden;
}

/* @media (max-width: 75em) { */
@media (max-width: 1500px) {
  /* 1200px */
  /* html {
    font-size: 60%;
  } */

  .nav-wrapper {
    padding: 0px 100px;
  }

  main {
    padding: 0px 100px;
  }

  .list-container {
    padding: 3em 10px;
  }

  .hero {
    padding: 1rem 3rem;
    margin-top: 1em;
  }
}

@media (max-width: 61.25em) {
  /* 980px */
  html {
    font-size: 58%;
  }

  .nav-wrapper {
    padding: 0px 50px;
  }

  main {
    padding: 0px 50px;
  }
}

@media (max-width: 28.75em) {
  html {
    /* font-size: 40%; */
  }
  /*480px*/
  .nav-wrapper {
    padding: 0px 20px;
  }

  main {
    padding: 0px 20px;
  }

  .card-container {
    padding: 2rem;
  }

  .side-content {
    display: none;
    /* flex: 2;
    background-color: var(--white);
    padding: 4em 10px;
    height: 6rem;
    margin-left: 1rem; */
  }
  .list-container {
    font-size: 150%;
    padding: 10px;
  }

  .text_alt {
    font-size: 90%;
  }

  main .orange-button {
    font-size: 100%;
  }
}

@media (max-width: 280px) {
  .nav-menus {
    display: none;
  }

  .login {
    display: none;
  }

  .ham {
    display: block;
  }

  .aval {
    display: none;
  }
}
